div[role='contentinfo'] {
	
    text-align: center;
    font-size: larger;
    margin: 1em;
    background-color: #155e67;
    color: white;
    padding: 1em;
}


div[role='contentinfo'] a {
	
    color: white;
		font-style:italic;

}